
.hero-portfolio {
    font-size: calc(10px + 2vmin);
    margin-top: 1rem;
    width: 100%;
    max-width: 1300px;
    border-radius: 23px;
    min-height: 95vh;
    min-height: 95dvh;
    background: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("https://jealife-portfolio.vercel.app/assets/images/JEaLiFe%C2%B7.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-position: top; 
border: 1px solid #ffffff20;


}

.hero-container {
    min-height: 95vh;
    border-radius: 23px;
    width: 100%;
    background-color: #111928bf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-hero-portfolio h1 {
    font-size: 1em;
    text-transform: uppercase;
}

.card-hero{
    display: flex;
    gap: 8px;
    flex-direction:column;
    align-items: center;
}
.card-hero img{
    width:180px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #ffffff6e;
}
.card-hero span{
    font-size: .7em;
    font-weight: 300;
    color: #ecf0f3;

}

.socilal{
    margin-top: .5rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

@media (max-width: 768px){
    .hero-portfolio{
        margin-top: 0px;
    }
    .card-hero img{
        width: 50%;
    }
    .text-hero-portfolio h1{
        font-size: 2.5rem;
    }
    .hero-container,.hero-portfolio{
        border-radius: 0 0 24px 24px;
    }
}