aside{
    position: sticky;
    position: -mos-sticky;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 1rem;
    display: grid;
    place-content: center;
    width: 30%;
    padding: 1rem;
    height: 100vh;
    height: 100dvh;
}

.section{
    flex: 2;
    display: grid;
    grid-template-columns: 1, 1fr;
    /* width:70vw; */
    margin-bottom: 70px;
}
.section >article{
    /* background-color: #111928; */
    border-radius: 20px;
    width: 100%;
    /* display: grid;
    place-content: center;
    min-height: 80vh;
    min-height: 80dvh; */
}
@media (max-width: 768px){
    aside{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 0px;
        display: flex;
    }
    #grid-main{
        flex-direction: column-reverse;
    }
    .section{
        width: 100vw;
    }
}
