#grid-main{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap:0.5rem;
    max-width: 1300px;
}

aside{
    position: sticky;
    position: -mos-sticky;
    position: -webkit-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 1rem;
    display: grid;
    place-content: center;
    min-width: 30vw;
    padding: 1rem;
    height: 100vh;
    height: 100dvh;
}

#grid-main > section{
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 50px;
    width: 100%;
}
#grid-main > section >div{
    background-color: #111928;
    border-radius: 20px;
    padding:2rem;
}
@media (max-width: 768px){
    aside{
        position: relative;
        width: 100%;
        height: max-content;
        padding: 0px;
        min-width: 100vw;
    }
    #grid-main{
        flex-direction: column;
        padding: 1rem;
    }
}
