/* ----------------    --- SECTION ABOUT---   ----------------- */


.section-about-left h3 {
  font-size: 0.813rem;
  color: #ff6d00;
  font-weight: 300;
}

.section-about-title {
  color: #808080;
  font-weight: 500;
  margin-bottom: 4.25rem;
}

.section-about-left img {
  margin-bottom: 2rem;
  width: 160px;
  clip-path: circle();
  box-shadow: 20px 20px 60px #0e1522,
  -20px -20px 60px #141d2e;
}

.content h2 {
  color: #808080;
}

.skills {
  padding: 0.25rem 0;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.skills box-icon {
  font-size: 35px;
  color: #808080;
  border-radius: 4px;
  background: #111928;
  box-shadow:  -20px -20px 60px #0e1522,
               20px 20px 60px #141d2e;
}

.section-about-right {
  padding: 2.25rem 0 0.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.section-about-right p {
  font-size: 1.2rem;
}
.btn-about .btn-link {
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 50em;
  color: #fff;
  background-color: #ff6d00;
  transition: 0.3s;
}
.btn-about .btn-link:hover {
  outline: 0.5px solid #ffffff;
  box-shadow: 0px 5px 15px 5px #ff6f00d7;
}

/* ========== responsive ======= */

@media screen and (max-width: 600px) {
 
  .section-about {
    text-align: center;
    width: 100%;
  }

  .section-about-left,
  .section-contact {
    text-align: center;
    display: grid;
    place-items: center;
  }

  .section-about-right p {
    text-align: left;
  }
}
