.side{
    display: flex;
    align-items:center;
    flex-direction: column;
    gap: 15px;
    width:100%;
    background-color: #111928;
    border-radius: 20px;
    padding: 2rem 1.54rem;
    height: max-content;
    text-align: center;
    justify-content: space-around;
}
.side a{
    text-decoration:none;
    padding: .5rem 1.5rem;
    border-radius: 50em;
    color: #fff;
    background-color: #ff6d00;
    transition:  .3s ;
}
.side a:hover{
    outline: .5px solid #ffffff;
    box-shadow: 0px 5px 15px 5px #ff6f00d7;
}
.side > div{
    width:100%;
}
.top-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.top-side span{
    text-align: right;
    font-weight: 300;
    
}
.top-side h2{
    flex:2;
    font-size: 1.8rem;
    text-align: left;
}
.midle-side img{
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}
.midle-side {
    display:flex;
    gap:15px;
    flex-direction: column;
}
.midle-side span{
    font-size:1rem;
    font-weight: 300;
}
.midle-side :nth-child(3){
    color: #858688;
}
@media (max-width: 768px){
    .side{
        height: max-content;
        border-radius: 24px 24px 0 0;
    }
    .side a{
        display: none;
    }
}